<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yoav.maze_generator" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".IntroActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroActivity"/>
        </activity>
        <activity
            android:name=".CompleteActivity"
            android:label="@string/app_name"
            android:parentActivityName=".IntroActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroActivity"/>
        </activity>
    </application>

</manifest>
